@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('[https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap](https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap)');

body, .v-application {
  font-family: 'Noto Sans KR', sans-serif !important;
}
